body {
	background: rgba(222, 33, 33, .1);
	height: 100vh;
}
header#header {
	padding: 1vh 1vw;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.readdle-logo, .readdle-logo img {
	height: 100%;
}
.logo {
	color: black;
	font-size: 1.8em;
}
.logo b {
	color: #DE2121;
}
.main {
	height: 100%;
	overflow: hidden;
}
.message {
	min-height: 250px;
	padding: 5vh;
}
.message-author {
}
.author-img {
	height: 20vh;
	margin-top: 10px;
}
.message-text {
	background: white;
	border-radius: 5vh;
	min-height: 25vh;
	padding: 5vh;
}
.message-text::before {
	border-bottom: 5vh solid transparent;
	border-top: 5vh solid transparent;
	border-right: 5vh solid white;
	/*border-style: solid;*/
	/*border-top: 5vh solid transparent;*/
	content: "";
	font-size: 0;
	height: 0;
	left: -5vh;
	line-height: 0;
	position: absolute;
	top: 7vh;
	width: 0;
}
.message-likes-n-comments>span {
	margin: 0 10px;
}
.likes {
	color: #AE9090;
}
.comments {
	color: #A5BAC8;
}
footer#footer {
	background: linear-gradientrgba((222, 33, 33, 0), rgba(222, 33, 33, .3));
	background: -moz-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33, .3));
	background: -o-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33,.3));
	background: -webkit-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33, .3));
	bottom: 0;
	height: 15vh;
	position: fixed;
	width: 100%;
}