html {
font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	background: rgba(222, 33, 33, .1);
	height: 100vh;
	margin: 0;
    overflow: hidden;
    line-height: 1.5;
    text-align: left;
}

p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

a {
  color: #8A1515;
}

header#header {
	padding: 1vh 1vw;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.hidden {
	opacity: 0;
}

.readdle-logo, .readdle-logo img {
	height: 100%;
}
.logo {
	color: black;
	font-size: 1.8em;
}
.logo b {
	color: #DE2121;
}

.loader {
	font-size: 1.8em;
	color: white;
}

.main {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.message {
	/*min-height: 20vh;*/
	/*padding: 1vh;*/
	margin: 5vh;
	

}

.message-author {
	width: 15%;
	float: left;
}

.message-author figure {
	display: inline-block;
	float: right;
	margin-right: 2vh;
    margin-top: 0;
    text-align: center;
}

.author-img {
/*	height: 10vh;
	width: 10vh;
    margin-right: 2vh;
    margin-top: 2vh; */
    border-radius: 50%;
	display: inline-block;
 	width: auto;
  	height: 10vh;
  	padding: 4px;
  	line-height: 1.42857143;
  	background-color: #fff;
 	border: 1px solid #ddd;
  	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.message-text {
	background: white;
	border-radius: 3vh;
	padding: 2vh 4vh;
	width: 85%;
	display: inline-block;
	box-sizing: border-box;
}

.message-text-content {
	min-height: 10vh;
	max-height: 50vh;
	overflow: hidden;
}

.message-text::before {
	border-bottom: 2vh solid transparent;
	border-top: 2vh solid transparent;
	border-right: 2vh solid white;
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	margin-top: 2vh;
	margin-left: -6vh;
}

.message-footer {
  font-size: 0.8em;
  color: #777;
}

.message-likes-n-comments {
	float: right;
}

.message-likes-n-comments>span {
	margin: 0 10px;
}
.likes {
	color: #AE9090;
}
.comments {
	color: #A5BAC8;
}
footer#footer {
	background: linear-gradientrgba((222, 33, 33, 0), rgba(222, 33, 33, .3));
	background: -moz-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33, .3));
	background: -o-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33,.3));
	background: -webkit-linear-gradient(rgba(222, 33, 33, 0), rgba(222, 33, 33, .3));
	bottom: 0;
	height: 15vh;
	position: fixed;
	width: 100%;
}

#footer img {
  height: 11vh;
  margin: 2vh;
}

#footer a {
  display: block;
  float: right;
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
